name: NASA PROJECT CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    env:
      CI: true
    strategy:
      matrix:
        node-version: [19.x,20.x]
    runs-on: windows-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3

      - name: Use Node.js Version ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run build --prefix client
      - run: npm test
